@layer theme, base, components, utilities;
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-cream: #FDF6E3;
  --color-navy: #1B1B1B;
  --color-orange: #F45D01;
  --color-gold: #C19A6B;
  --color-teal: #497882;
}

@layer base {
  body {
    background-color: --var(--color-cream);
  }

  #root {
    background-color: --var(--color-cream);
    /* max-width: 1280px; */
    margin: 0 auto;
    text-align: center;
  }
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
}
